body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f5f5f5;
}

.journal-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #394240;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.notebook {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.notebook h1 {
    margin-bottom: 20px;
    color: #333;
}

#entries-list {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
}

button {
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.new-notebook-btn {
    background-color: #5cb85c;
    color: #fff;
}

.save-entry-btn {
    background-color: #337ab7;
    color: #fff;
}